<%-include('../templates/headerindex')-%>
 <h6><%-username -%></h6>
 <h6><%-userrole -%></h6>
 <p><%- msg -%></p>

<a href="/dashboard"> BackHome </a>

<a href="/logout">Logout</a>



<%-include('../templates/footer')-%>