  
<%- include('../templates/headerindex') -%>
<div class="content">
<div class="row">
    <div class="col-md-4">
<%- include('../templates/leftnav') -%>
    </div>

    <div class="col-md-4">
       <!-- <%- include('../templates/rightnav') -%> -->
       <img src="/images/banner.png" class="brand-logo">
    </div>
    <div class="col-md-4" style="text-align: right;">
        <%- include('../templates/rightnav') -%>
    </div>
</div>
<div class="row">
    <a href="/addstudent" class="btn btn-sm btn-primary">Add  Student</a><br/><br/>
    <table class="heightlight responsive-table">
        <thead>
        <tr>
            <th>STUDENT ID</th>
            <th>FULL NAMES</th>
            <th>GENDER</th>
            <th>CLASS</th>
            <th>GRADUATE DATE</th>
            <th>FATHER's NAME</th>
            <th>MOTHER's NAME</th>
            <th>Phone Number</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <% students.forEach(function(student){ %>
            <tr>
                <td><%= student.studentid %></td>
                <td><%= student.fullnames %></td>
                <td><%= student.gender %></td>
                <td><%= student.classname %></td>
                <td><%= student.graddate %></td>
                <td><%= student.pfullnames %></td>
                <td><%= student.mfullnames %></td>
                <td><%= student.parentphone %></td>
                <td>
                    <a href="viewtudent/<%= student.studentid %>" class="btn btn-sm btn-primary">View</a>
                    <a href="delete/<%= student.studentid %>" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
        </div>
    </div>
    <div class="footer" style="border-color: blue; height: 10px; width: auto; margin: 2px;">
        <%- include('../templates/footer') -%>
    </div>
    </div>